@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Danfo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Poetsen One', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* HEADER */
h1 {
  font-family: 'Danfo', serif;
  color: #00ff00;
  text-align: center;
  font-size: 72px;
}

header {
  background-color: #3b3b3b;
  padding: 30px;
}

/* MAIN GAME SECTION */
main {
  background-color: #797979;
  color: aliceblue;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
}

h2 {
  font-size: 65px;
  /* padding-bottom: 3rem; */
}

h3 {
  font-size: 40px;
}

.score {
  font-size: 40px;
}

.game {
  display: flex;
  gap: 10rem;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 2rem 0;
}

.choice {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 10px;
  font-size: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 5px black;
}

button {
  width: 150px;
  font-size: 52px;
  border-radius: 25px;
  background-color: #50ff50;
  cursor: pointer;
  transition: all 0.3s;
  margin: 0 2rem;
  padding: 7px;
  box-shadow: 1px 1px 5px black;
}

button:hover {
  background-color: #89ff89;
  transform: translateY(-5px);
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px black;
  transition: 0.3s;
}

/* FOOTER */
footer {
  background-color: #3b3b3b;
  color: #00ff00;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: #00ff00;
  margin-left: 6px;
}

i {
  transition: all 0.5s ease-in-out;
  scale: 1.3;
}

i:hover {
  transform: rotate(360deg);
}
